<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Maintain HUD location when device is rotated</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>get</key>
            <string>readPreferenceValue:</string>
            <key>set</key>
            <string>setPreferenceValue:forSpecifier:</string>
            <key>key</key>
            <string>locationIgnoresLandscape</string>
            <key>label</key>
            <string>Maintain location when rotated</string>
        </dict>
	</array>
	<key>title</key>
	<string>MinimalHUD</string>
</dict>
</plist>
